<ion-view title="Conexion" id="page6">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="Nom">
                    <input type="text" placeholder="Nom">
                </label>
                <label class="item item-input" name="Prenom">
                    <input type="text" placeholder="Prenom">
                </label>
            </ion-list>
            <label class="item item-input" name="Password">
                <input type="password" placeholder="Password">
            </label>
            <label class="item item-input" name="tel1">
                <input type="tel" placeholder="Téléphone1">
            </label>
            <label class="item item-input" name="tel2">
                <input type="tel" placeholder="Téléphone2">
            </label>
            <label class="item item-input" name="email">
                <input type="email" placeholder="E-mail">
            </label>
            <label class="item item-input" name="numpermis">
                <input type="text" placeholder="Numero de permis">
            </label>
            <label class="item item-input">
                <span class="input-label">Date permis</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input" name="Adresse">
                <input type="text" placeholder="Adresse">
            </label>
            <a ui-sref="menu.rServation" id="conexion-button7" class="button button-calm button-small button-block">Connexion</a>
        </form>
    </ion-content>
</ion-view>