<ion-view view-title="Details voiture">  
    <ion-content ng-class="{expanded:isExpanded}" >
        <ion-list class="list-inset animate-fade-slide-in-right">
            <ion-item class="item" ng-repeat="item in voitures[0] | filter:{idVoiture: witchvoitures}">
             <img class="full-image" src="img/{{item.photo}}.jpg">
                 <h2 class="border-top" style="color:blue;">{{item.Modele.marque}} {{item.Modele.nom}}</h2>
                    <p >{{item.categorie}}</p>
                    <i class="icon ion-pricetag energized-900">{{item.prixLocation}}</i>
        
        
        
            
            </ion-item>
         </ion-list>
         <h4>Choix d'option:</h4>
        <form class="list half animate-fade-slide-in-right" >
            <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="data.GPS" ng-init="data.GPS=false"  name="GPS" >
                    </label>
                   GPS
                </div>
           <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="data.chauffer" ng-init="data.chauffer=false" name="chauffer">
                    </label>
                   Deuxième chauffeur
                </div>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="data.chaisebebe" ng-init="data.chaisebebe=false" name="chaisebebe">
                    </label>
                   Chaise bebe
                </div>
        </form>
        <div>
            <button ng-click="termine(data)" class="button button-full button-royal ink">Authentifier</button>
        </div>
    </ion-content>
</ion-view>