<ion-view>
    <ion-content style="background: url(../img/cabecera1111.jpg) center; background-size: cover;">
    <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <p class="royal" style="padding-right:100px;padding-left:100px;">Bienvenue dans notre agence vous pouvez registre votre donner pour facilite le réservation</p>
            </div>
        </div>          <div style="padding:100px">
  						<button class="button button-full button-royal" ng-click="reservation()">Réserver</button>
                        <button class="button button-full button-royal" ng-click="login()">Login</button>
                    </div>
    </ion-content>
</ion-view>