<ion-view title="Voiture" id="page2" ng-controller="voitureCtrl">

    <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="query" placeholder="Search">
        </label>

    </div>
    <ion-content overflow-scroll="true" padding="true" class="has-subheader">



    <ion-list class="animate-ripple">
            <ion-item ui-sref="menu.detailsVoiture({Id: item.idVoiture})" ng-model="data" ng-click="getID(item)" ng-repeat='item in voitures | filter: query' class="item-thumbnail-left">
                <img src="img/{{item.photo}}.jpg" alt="">
                <div class="item-text-center item-text-wrap">{{item.Modele.marque}} {{item.Modele.nom}}</div>
                <h3>{{item.categorie}}</h3>
                <p>{{item.prixLocation}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>

<!--<ion-item collection-repeat="voiture in voitures">

 <a ui-sref="menu.detailsVoiture({Id: voiture.id})">

 <img ng-src="img/{{voiture.photo }}" alt="image" >
</a>

</ion-item>-->





















         <!--    <a class="item" ng-repeat="voiture in VoituresData">
                {{voiture}}

            </a>
       <ion-list>

            <ion-item class="item-thumbnail-left" ui-sref="menu.detailsVoiture">

                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.detailsVoiture" >

                <h2>Fiat Grande Punto</h2>
                <p>louer à partir de 17 €</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.detailsVoiture">

                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.detailsVoiture">

                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>
